/* Sidebar/sidebar.css */
.sidebar-content {
    overflow-y: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
   }
   
   .sidebar-content::-webkit-scrollbar {
    display: none;
   }
   